body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.logo {
    width: 400px;
    margin-bottom: 20px;
    max-width: 100%;
}

.titulo {
    color: #884939;
}

section form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
}

section form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

section form label {
    margin-top: 15px;
    font-size: 20px;
    color: #884939;
}

section form select,
section form input[type="text"],
section form input[type="tel"],
section form input[type="file"],
section form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

section form input[type="number"] {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

section form input[type="file"] {
    padding: 0;
}

section form button.boton-menu,
section form a.button.boton-menu {
    background-color: #884939;
    margin-top: 15px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
}

section form button.boton-menu:hover,
section form a.button.boton-menu:hover {
    background-color: #fff;
    color: #884939;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #884939;
    padding: 20px;
    font-size: 12px;
}

.footer-left p {
    margin: 0;
}

.footer-right ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer-right li {
    margin-right: 20px;
}

.footer-right a {
    text-decoration: none;
    color: #884939;
}

footer {
    width: 100%;
    position: relative;
    margin-top: auto;
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 300px;
    }

    .botones button {
        font-size: 24px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .logo {
        width: 350px;
    }
}