body {
    font-family: 'Montserrat', sans-serif;
    margin: 20px; /* Agrega un margen a los lados de la página */
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.logo {
    width: 400px;
    margin-bottom: 20px;
    max-width: 100%; /* Asegura que el logo no exceda el ancho del contenedor */
}


.titulo {
    color: #884939;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f0f0f0;
    margin: 20px; /* Fondo gris claro */
    border-radius: 5px;
}

thead {
    background-color: #884939; /* Color del título */
    color: #fff; /* Texto en el título */
}

th, td {
    border: 1px solid #884939; /* Borde del mismo color que el título */
    padding: 10px;
    text-align: left;
}

th {
    border-radius: 5px 5px 0 0; /* Bordes redondeados arriba */
}

td {
    border-radius: 0 0 5px 5px; /* Bordes redondeados abajo */
}

/* Ajuste para el botón dentro de la tabla */
td button {
    margin-top: 15px; 
    background-color: #884939;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

td button:hover {
    background-color: #fff;
    color: #884939; 
   
   
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #884939;
    padding: 20px;
    font-size: 12px;
}

.footer-left p {
    margin: 0;
}

.footer-right ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer-right li {
    margin-right: 20px;
}

.footer-right a {
    text-decoration: none;
    color: #884939;
}

footer {
    width: 100%;
    position: relative; 
    margin-top: auto; 
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 300px;
    }

    .botones button {
        font-size: 24px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .logo {
        width: 350px;
    }
}