body {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.logo {
    width: 400px;
    margin-bottom: 20px;
    max-width: 100%;
}

.titulo {
    color: #884939;
}

table {
    width: 100%;
    border-collapse: separate; /* Utiliza "separate" en lugar de "collapse" para permitir bordes redondeados */
    border-spacing: 0; /* Elimina el espacio entre celdas */
    margin-top: 20px;
    background-color: #f0f0f0;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden; /* Evita que los bordes redondeados se vean afectados por el contenido */
}

thead {
    background-color: #884939;
    color: #fff;
}

th, td {
    border: none; /* Elimina los bordes de las celdas */
    padding: 10px;
    text-align: left;
}

td button {
    margin-top: 15px; 
    background-color: #884939;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

td button:hover {
    background-color: #fff;
    color: #884939; 
}
.contenedor-centrado {
    background-color: #884939;
    margin-top: 15px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
}

.contenedor-centrado:hover {
    background-color: #fff;
    color: #884939;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #884939;
    padding: 20px;
    font-size: 12px;
}

.footer-left p {
    margin: 0;
}

.footer-right ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer-right li {
    margin-right: 20px;
}

.footer-right a {
    text-decoration: none;
    color: #884939;
}

footer {
    width: 100%;
    position: relative;
    margin-top: auto;
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 300px;
    }

    .botones button {
        font-size: 24px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .logo {
        width: 350px;
    }
}