body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.menu {
    display: none;
}

.logo {
    width: 6.25rem;
}

nav { 
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: #FFFAFA;
}


.ham {
    display: none;
    cursor: pointer;
    border: none; 
    margin:0;
    background-color: transparent;
}

.ham span {
    display: block;
    background-color: #ccc;
    height: 3px;
    width: 28px;
    margin: 6px auto;
    border-radius: 2px;

}
.enlaces-menu{
    display: flex;
    padding: 0;
}

.enlaces-menu li {
    padding: 0 40px;
    list-style-type: none;
}

.enlaces-menu li a {
    text-decoration: none;
    font-size: 1rem ;
    color:#884939;
    font-weight: 300;

}

.enlaces-menu li:hover{
    color: #884939;
    border: 1px solid #884939;
    border-radius: 8px;
    transition: color 0.3s ease-in-out; 
}
.enlaces-menu .carrito {
    position: relative;
    margin-left: auto;
}

.enlaces-menu .carrito div {
    width: 16px;
    height: 16px;
    background-color: #884939;
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: -20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 0.6rem;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}

.product-card {
    width: 240px;
}

.product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    margin-top: 25px;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0px;
    margin-bottom: 4px;
}

.product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}

.product-info figure {
    margin: 0;
}

.product-info figure img {
    width: 35px;
    height: 35px;
}

.footer-container {
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    background-color: #FFFAFA;
    color: #884939;
    padding: 20px;
    font-size: 12px;
}

.footer-left p {
    margin: 0;
}

.footer-right ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer-right li {
    margin-right: 20px;
}

.footer-right a {
    text-decoration: none;
    color: #884939;
}

footer {
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    body{
     overflow-x: hidden  ;
    }
   .logo{
    padding-left: 25px;
   }
   .ham{
    display: block;
    position: absolute;
    top: 15px;
    right: 25px;
   }

   nav{
    flex-direction: column;
    align-items: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;

   }
   .enlaces-menu{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    margin: 0;
    padding: 0;
    width:100%;
    display: none; 
    opacity:0
   }
   .enlaces-menu li {
    width: 100%;
    text-align: center;
    padding: 20px;
   }
   .enlaces-menu .carrito div {
    display: none; 
}
   @keyframes muestraMenu {
    from{opacity: 0;}
    to {opacity: 1;}
    
   } 

.enlaces-menu.activado{
        display: flex;
        animation: muestraMenu 350ms ease-in-out both;
   }
 
    .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
}

.product-card {
    width: 140px;
}

.product-card img {
    width: 140px;
    height: 140px;
    
}
}