body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow-x: hidden;
    
}

.menu {
    display: none;
}

.logo {
    width: 6.25rem;
}

nav { 
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: #FFFAFA;
}


.ham {
    display: none;
    cursor: pointer;
    border: none; 
    margin:0;
    background-color: transparent;
}

.ham span {
    display: block;
    background-color: #ccc;
    height: 3px;
    width: 28px;
    margin: 6px auto;
    border-radius: 2px;

}
.enlaces-menu{
    display: flex;
    padding: 0;
}

.enlaces-menu li {
    padding: 0 40px;
    list-style-type: none;
}

.enlaces-menu li a {
    text-decoration: none;
    font-size: 1rem ;
    color:#884939;
    font-weight: 300;

}

.enlaces-menu li:hover{
    color: #884939;
    border: 1px solid #884939;
    border-radius: 8px;
    transition: color 0.3s ease-in-out; 
}
.enlaces-menu .carrito {
    position: relative;
    margin-left: auto;
}

.enlaces-menu .carrito div {
    width: 16px;
    height: 16px;
    background-color: #884939;
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: -20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 0.6rem;
}

.carrusel-container {
    position: relative;
    width: 85%; 
    margin: 0 auto; 
    overflow: hidden;
    margin-top: 20px;
}

.carrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrusel img {
    width: 100%;
    max-width: 100%;
    border-radius: 3%;
}

.carrusel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1; 
}

.carrusel-btn-left {
    left: 10px;
}

.carrusel-btn-right {
    right: 10px;
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    width: 690px;
    height: 300px;
    margin: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    overflow: hidden;
    position: relative;
}

.box img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

h2 {
    z-index: 1;
    margin: 0;
    font-size: 50px;
    color: white;
}

.footer-container {
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    background-color: #FFFAFA;
    color: #884939;
    padding: 20px;
    font-size: 12px;
}

.footer-left p {
    margin: 0;
}

.footer-right ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer-right li {
    margin-right: 20px;
}

.footer-right a {
    text-decoration: none;
    color: #884939;
}

footer {
    bottom: 0;
    width: 100%;
}


@media (max-width: 768px){
    body{
        overflow: visible;
        overflow-x: hidden;
    }
   .logo{
    padding-left: 25px;
   }
   .ham{
    display: block;
    position: absolute;
    top: 15px;
    right: 25px;
   }

   nav{
    flex-direction: column;
    align-items: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;

   }
   .enlaces-menu{
    flex-direction: column;
    /*justify-content: space-around;*/
    justify-content: center;
    align-items: center;
    height: 92vh;
    margin: 0;
    padding: 0;
    width:100%;
    display: none; 
    opacity:0
   }
   .enlaces-menu li {
    width: 100%;
    text-align: center;
    padding: 20px;
   }

   .enlaces-menu .carrito div {
    display: none; 

}
.nuevaTemporada {
    height: auto; 
    overflow: visible;
    
}
.nuevaTemporada img {
    width: 90%;
    max-width: 100%;
    margin: 20px auto; 
    border-radius: 3%;
}
.box{
    width: 90%;
    max-width: 100%;
    margin: 20px auto; 
    border-radius: 3%;
}
}

   @keyframes muestraMenu {
    from{opacity: 0;}
    to {opacity: 1;}
    
   }
   

.enlaces-menu.activado{
        display: flex;
        animation: muestraMenu 350ms ease-in-out both;
   }


.container {
        margin-top: 20px; /* Esto puede necesitar ajustarse según tus necesidades */
    
}
