<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/modificarProduc.css">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <title>MUNDO</title>
</head>
<body>
    <div class="ingresar">
        <img href= "index.html" src="./assets/icons/logoMundo.svg" alt="logo" class="logo">
    </div>
    <h1 class="titulo"> MODIFICAR PRODUCTO</h1>
    <section>
        <div id="app">
            <form @submit.prevent="ObtenerProducto">
                <label for="codigo">Código:</label>
                <input type="text" v-model="codigo" required><br>
                <button type="submit">Modificar Producto</button>
                <a href="api.html"><button type="button">Menú Principal</button></a>
            </form>
        </div>
    </section>
    <h2> DATOS DEL PRODUCTO</h2>
    <section>
    <div v-if="mostrasDatosProducto">
        <form @submit.prevent="guardarCambios">
            <label for="descripcionModificar">Descripción:</label>
            <input type="text" id="descripcionModificar" v-model="descripcion" required><br>
            
            <label for="cantidadModificar">Cantidad:</label>
            <input type="number" id="cantidadModificar" v-model="cantidad" required><br>
            
            <label for="precioModificar">Precio:</label>
            <input type="number" step="0.01" id="precioModificar" v-model="precio" required><br>

            <img v-if="imagen_url && !imagenSeleccionada" :src="'static/img/' + imagen_url" alt="imagen del producto" style="max-width: 200px;">

            <img v-if="imagenSeleccionada" :src="imagenUrlTemp" alt="vista previa de la nueva imagen" style="max-width: 200px;">

            <label for="nuevaImagen">Nueva Imagen</label>
            <input type="file" id="nuevaImagen" @change="seleccionarImagen" accept="image/*"><br>

            
            <label for="proveModificar">Proveedor:</label>
            <input type="number" id="proveModificar" v-model="proveedor" required><br>
            
            <button type="submit">GUARDAR CAMBIOS</button>
            <a><button href="modificarProduc.html">Cancelar</button></a>
        </form>
    </div>
</section>

    <script src="js/Modificador.js"></script>
    <script src="https://unpkg.com/vue@next"></script>

    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <p>Hecho con 💙 para codo a codo.</p>
            </div>
            <div class="footer-right">
                <ul>
                    <li><a href="index.html">Pagina Principal</a></li>
                    <li><a href="nuevaTemporada.html">Nueva Temporada</a></li>
                    <li><a href="rebajas.html">Rebajas</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>